.cell {
    display: flex;
    border: solid black 2px;
    height: 40px;
    width: 40px;
    justify-content: center;
    background-color: blue;
    /* align-items: center; */
}
main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

.bombpic{
    width: 30px;
    height: 30px;
    position: absolute;
    visibility: hidden;
    pointer-events: none;
}
.flag{
    content: url(flag.png);
    /* background-repeat: no-repeat; */
}